.userCards {
    display: flex;
    flex-wrap: wrap;

    padding: 2%;
    height: 100%;
    width: 100%;

    .userCard {
        height: 40%;
        width: 18%;
        margin: 1%;
        margin-bottom: 5%;
        transition: .25s ease-in-out;
        padding: 1%;
        border-radius: 10px;
        background-color: #cf830a;

        &:hover {
            cursor: pointer;
            background-color: lighten(#cf830a, 10%);
            transition: .25s ease-in-out;
        }

        color:lighten(#a86d5b, 40%);

        .userCardImage {
            height: 80%;
        }
    }
}